Repository jesseslijkerman/Project-EWA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=${RAILWAY_TOKEN_FE}
  - cd Ludo
  - railway up --service=EWA-fe-Ludo-app -d

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=${RAILWAY_TOKEN_BE}
  - cd ludo-server
  - railway up --service=EWA-be-Ludo-app -d

getUsersInLobby fixed, waitingroom verder gewerkt
  ludo-server/src/main/java/app/controllers/LobbiesController.java
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
Due: deploy_be

waitingroom verder gewerkt
  Ludo/src/components/WaitingRoom.vue
Due: deploy_fe

lobby word gestart dmv status update (door host) en is joinable + refresh interval
  Ludo/src/components/CreateGame.vue
  Ludo/src/components/WaitingRoom.vue
  Ludo/src/models/Lobby.js
  Ludo/src/services/LobbyAdaptor.js
  ludo-server/src/main/java/app/controllers/LobbiesController.java
  ludo-server/src/main/java/app/models/Lobby.java
Due: deploy_fe, deploy_be

refresh fix
  Ludo/src/components/WaitingRoom.vue
Due: deploy_fe

header fix
  Ludo/src/components/WaitingRoom.vue
Due: deploy_fe

nieuwe board layout
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

Changepassword backend working
  ludo-server/src/main/java/app/controllers/UserController.java
  ludo-server/src/main/java/app/models/User.java
  ludo-server/src/main/java/app/models/UserLobby.java
  ludo-server/src/main/java/app/repositories/UsersRepository.java
  ludo-server/src/main/java/app/services/UserService.java
Due: deploy_be

EINDELIJK GEFIXT
  Ludo/src/App.vue
  Ludo/src/components/CreateGame.vue
  Ludo/src/components/Login.vue
  Ludo/src/models/Lobby.js
  Ludo/src/services/FetchInterceptor.js
Due: deploy_fe

Pathing improved
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

Minor board change
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

Frontend almost working
  Ludo/src/components/ResetPassword.vue
  Ludo/src/services/UsersAdaptor.js
Due: deploy_fe

register link hotfix
  Ludo/src/components/Login.vue
Due: deploy_fe

Logs added to front end
  Ludo/src/components/ResetPassword.vue
Due: deploy_fe

Navbar fix and fitted the app size to the screen size
  Ludo/index.html
  Ludo/src/App.vue
  Ludo/src/assets/main.css
  Ludo/src/components/NavBar.vue
Due: deploy_fe

je kan nu matches joinen, en spelervolgorde word nu correct geshowed
  Ludo/src/components/OngoingMatches.vue
  ludo-server/src/main/java/app/controllers/UserLobbyController.java
  ludo-server/src/main/java/app/models/UserLobby.java
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
Due: deploy_fe, deploy_be

Pawns now move over the board
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

Not initaliased and at home until throwing 6
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

Basic win condition, animation, and players can pass each other without issues.
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

bug half gefixt en refresh verminderd
  Ludo/src/components/OngoingMatches.vue
  Ludo/src/components/WaitingRoom.vue
Due: deploy_fe

diceroll via backend + username on ongoingmatches for clarity
  Ludo/src/components/LudoBoard.vue
  Ludo/src/components/OngoingMatches.vue
Due: deploy_fe

Sticky navbar
  Ludo/src/App.vue
Due: deploy_fe

Put error in de backend
  Ludo/src/components/ResetPassword.vue
  Ludo/src/services/UsersAdaptor.js
Due: deploy_fe

- board update nu na aanpassingen in de browser - board word geupdatet via DB - createlobby maakt nu standaard waarde voor boardgame aan - findById iets aangepast
  Ludo/src/components/CreateGame.vue
  Ludo/src/components/LudoBoard.vue
  Ludo/src/models/Lobby.js
  Ludo/src/services/LobbyAdaptor.js
  ludo-server/src/main/java/app/controllers/LobbiesController.java
  ludo-server/src/main/java/app/models/Lobby.java
  ludo-server/src/main/java/app/repositories/LobbiesRepository.java
Due: deploy_fe, deploy_be

- rolled dice shown a bit prettier
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

- rolled dice updates board
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

deleteUserFromLobby now removes the lobby when its empty.
  ludo-server/src/main/java/app/controllers/LobbiesController.java
  ludo-server/src/main/java/app/models/UserLobby.java
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
Due: deploy_be

fix
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
Due: deploy_be

update password fix
  ludo-server/src/main/java/app/controllers/UserController.java
  ludo-server/src/main/java/app/models/User.java
  ludo-server/src/main/java/app/repositories/UsersRepository.java
  ludo-server/src/main/java/app/services/UserService.java
Due: deploy_be

reset password works
  Ludo/src/components/ResetPassword.vue
  Ludo/src/models/User.js
  Ludo/src/services/UsersAdaptor.js
Due: deploy_fe

Refactored some code and deleted unused files
  ludo-server/src/main/java/app/controllers/UserController.java
  ludo-server/src/main/java/app/repositories/UsersRepository.java
  ludo-server/src/main/java/app/services/LobbyService.java
  ludo-server/src/main/java/app/services/UserService.java
Due: deploy_be

Added select options for country in register
  Ludo/src/components/Register.vue
  ludo-server/src/main/java/app/repositories/LobbyRepository.java
  ludo-server/src/main/java/app/repositories/UsersRepository.java
Due: deploy_fe, deploy_be

speler begins from his home and continues where he left off, default boardstate updated, board layout altered a bit, clarity for host added after starting game,leave lobby updated,
  Ludo/src/components/CreateGame.vue
  Ludo/src/components/LudoBoard.vue
  Ludo/src/components/WaitingRoom.vue
Due: deploy_fe

default boardstate updated, board layout updated (base cells are now path cells), added a playercount check before starting match
  Ludo/src/components/CreateGame.vue
  Ludo/src/components/LudoBoard.vue
  Ludo/src/components/WaitingRoom.vue
  Ludo/src/services/LobbyAdaptor.js
Due: deploy_fe

waitingroom res gefixt
  Ludo/src/components/WaitingRoom.vue
Due: deploy_fe

Railway link
  .gitlab-ci.yml
  Ludo/.env.production
  Ludo/package-lock.json
  Ludo/package.json
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

fix railway
  Ludo/package.json
Due: deploy_fe

Changed urls to live server
  Ludo/app-config.js
  Ludo/src/App.vue
Due: deploy_fe

Added cors mapping for railway
  ludo-server/src/main/java/app/APIConfig.java
Due: deploy_be

Last minute styling for createGame
  Ludo/src/components/CreateGame.vue
Due: deploy_fe

Matches Styling
  Ludo/src/components/OngoingMatches.vue
Due: deploy_fe

Path conditions:
  deploy_fe: any of: Ludo/**/*
  deploy_be: any of: ludo-server/**/*
