Repository jesseslijkerman/Project-EWA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

.gitlab-ci.yml:

stages:
  - deploy

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - main
    changes:
      - "Ludo/**/*"
  script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://railway.app/install.sh | sh
    - export RAILWAY_TOKEN=${RAILWAY_TOKEN_FE}
    - cd Ludo
    - railway up --service=EWA-fe-Ludo-app -d

deploy_be:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - main
    changes:
      - "ludo-server/**/*"
  script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://railway.app/install.sh | sh
    - export RAILWAY_TOKEN=${RAILWAY_TOKEN_BE}
    - cd ludo-server
    - railway up --service=EWA-be-Ludo-app -d

Update Ludo/package.json
  Ludo/package.json
Due: deploy_fe

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update Ludo/src/App.vue, README.md
  Ludo/src/App.vue
  README.md
Due: deploy_fe

You can now create lobby's from front end
  Ludo/src/models/UserLobby.js
  ludo-server/src/main/java/app/controllers/UserLobbyController.java
Due: deploy_fe, deploy_be

Bug fixes
  Ludo/src/components/DiceRoll.vue
  Ludo/src/models/UserLobby.js
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
Due: deploy_fe, deploy_be

navbar werkt
  Ludo/src/components/DiceRoll.vue
  Ludo/src/components/LudoBoard.vue
  Ludo/src/components/OngoingMatches.vue
Due: deploy_fe

Navbar cleaned up code
  Ludo/src/App.vue
  Ludo/src/components/GameRules.vue
  Ludo/src/components/HelloWorld.vue
  Ludo/src/components/LudoBoard.vue
  Ludo/src/components/NavBar.vue
  Ludo/src/components/OngoingMatches.vue
  Ludo/src/components/ResetPassword.vue
  Ludo/src/components/__tests__/HelloWorld.spec.js
  Ludo/src/router/index.js
Due: deploy_fe

Switched database to sql
  ludo-server/pom.xml
  ludo-server/src/main/java/app/models/UserLobby.java
  ludo-server/src/main/resources/application.properties
Due: deploy_be

Waitingroom fix
  Ludo/src/router/index.js
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
Due: deploy_fe, deploy_be

Added boardState column to lobby
  ludo-server/src/main/java/app/models/Lobby.java
Due: deploy_be

Added boardstate to create game
  Ludo/src/components/CreateGame.vue
Due: deploy_fe

Added boardstate to create game
  Ludo/src/models/Lobby.js
Due: deploy_fe

Remove lobbycontroller
  ludo-server/src/main/java/app/controllers/LobbyController.java
Due: deploy_be

diceroll aangemaakt via backend + navbar fix
  Ludo/src/components/LudoBoard.vue
  Ludo/src/components/NavBar.vue
  Ludo/src/services/LobbyAdaptor.js
  ludo-server/src/main/java/app/controllers/LobbiesController.java
  ludo-server/src/main/java/app/repositories/LobbiesRepository.java
Due: deploy_fe, deploy_be

kleine method update
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

Login and JWT authentication
  ludo-server/pom.xml
  ludo-server/src/main/java/app/APIConfig.java
  ludo-server/src/main/java/app/controllers/AuthenticationController.java
  ludo-server/src/main/java/app/models/User.java
  ludo-server/src/main/java/app/repositories/UsersRepository.java
  ludo-server/src/main/java/app/security/JWTRequestFilter.java
  ludo-server/src/main/java/app/security/JWToken.java
  ludo-server/src/main/java/app/security/JWTokenInfo.java
  ludo-server/src/main/java/app/security/SecurityConfiguration.java
Due: deploy_be

Second commit
  Ludo/index.html
  Ludo/public/assets/Ludo-Logo.jpg
  Ludo/public/assets/main.css
  Ludo/src/components/Login.vue
  Ludo/src/services/AuthenticationService.js
  ludo-server/src/main/java/app/controllers/AuthenticationController.java
  ludo-server/src/main/java/app/security/JWToken.java
Due: deploy_fe, deploy_be

TestLogin
  Ludo/src/App.vue
  Ludo/src/components/Login.vue
  Ludo/src/services/AuthenticationService.js
Due: deploy_fe

Added boardstate to create game
  Ludo/src/components/CreateGame.vue
  Ludo/src/components/LudoBoard.vue
  Ludo/src/models/Lobby.js
Due: deploy_fe

Fixed authservice url
  Ludo/src/App.vue
Due: deploy_fe

POM change
  ludo-server/pom.xml
Due: deploy_be

Voor Jesse
  Ludo/package-lock.json
  Ludo/package.json
  ludo-server/pom.xml
  ludo-server/src/main/java/app/controllers/LobbiesController.java
  ludo-server/src/main/java/app/models/Lobby.java
  ludo-server/src/main/java/app/models/User.java
  ludo-server/src/main/java/app/models/UserLobby.java
  ludo-server/src/main/java/app/repositories/LobbiesRepository.java
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
  ludo-server/src/main/java/app/repositories/UsersRepository.java
  ludo-server/src/main/java/app/security/JWTRequestFilter.java
  ludo-server/src/main/java/app/security/SecurityConfiguration.java
Due: deploy_fe, deploy_be

Changed data type to Long
  Ludo/package.json
  Ludo/src/services/AuthenticationService.js
  ludo-server/src/main/java/app/controllers/LobbiesController.java
  ludo-server/src/main/java/app/controllers/UserController.java
  ludo-server/src/main/java/app/controllers/UserLobbyController.java
  ludo-server/src/main/java/app/repositories/LobbiesRepository.java
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
  ludo-server/src/main/java/app/repositories/UsersRepository.java
Due: deploy_fe, deploy_be

Board word correct geupdate na refresh (created())
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

Encryption stuff
  Ludo/src/components/LudoBoard.vue
  Ludo/src/services/UsersAdaptor.js
  ludo-server/src/main/java/app/controllers/AuthenticationController.java
  ludo-server/src/main/java/app/controllers/UserController.java
  ludo-server/src/main/java/app/security/JWToken.java
  ludo-server/src/main/java/app/security/SecurityConfiguration.java
  ludo-server/src/main/java/app/services/UserService.java
Due: deploy_fe, deploy_be

correcte lobbyId word gebruikt
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

Log in works
  ludo-server/src/main/java/app/services/UserService.java
Due: deploy_be

relevantere naam
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

Log in works via front end
  Ludo/app-config.js
  Ludo/package-lock.json
  Ludo/package.json
  Ludo/src/App.vue
  Ludo/src/components/Login.vue
  Ludo/src/services/FetchInterceptor.js
  Ludo/src/services/SessionSbService.js
Due: deploy_fe

navbar fix voor ongoing matches
  Ludo/src/components/OngoingMatches.vue
Due: deploy_fe

Board now can move on path! :)
  Ludo/package-lock.json
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

Rolldice comment for letting the application work
  ludo-server/src/main/java/app/controllers/LobbiesController.java
Due: deploy_be

rolldice staat weer in de lobbyrepo
  ludo-server/src/main/java/app/repositories/LobbiesRepository.java
Due: deploy_be

rolldice staat weer in de lobbyrepo
  ludo-server/src/main/java/app/controllers/LobbiesController.java
  ludo-server/src/main/java/app/repositories/LobbiesRepository.java
Due: deploy_be

designed the board following the ludo rules boardsize changed from 10x10 to 11x11
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

Fixed login redirect
  Ludo/src/components/Login.vue
Due: deploy_fe

You can now sign out
  Ludo/src/components/NavBar.vue
Due: deploy_fe

Data now matches logged-in user
  Ludo/src/components/OngoingMatches.vue
  Ludo/src/models/Lobby.js
  Ludo/src/models/UserLobby.js
  Ludo/src/services/SessionSbService.js
  ludo-server/src/main/java/app/models/UserLobby.java
Due: deploy_fe, deploy_be

Resetpassword in navbar trying to make it work
  Ludo/src/components/ResetPassword.vue
  ludo-server/src/main/java/app/controllers/UserController.java
  ludo-server/src/main/java/app/models/User.java
  ludo-server/src/main/java/app/repositories/UsersRepository.java
  ludo-server/src/main/java/app/services/UserService.java
Due: deploy_fe, deploy_be
