Repository jesseslijkerman/Project-EWA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=${RAILWAY_FE_TOKEN}
  - cd [your-fe-folder-here]
  - railway up --service=[your-fe-service-name-here] -d

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=${RAILWAY_BE_TOKEN}
  - cd [your-be-folder-here]
  - railway up --service=[your-be-service-name-here] -d

Single script tag error fix
  Ludo/src/App.vue
Due: deploy_fe

Small fixes to register
  Ludo/src/App.vue
  Ludo/src/components/Register.vue
  Ludo/src/services/UsersAdaptor.js
Due: deploy_fe

dice aangepast voor ludo scherm (nog een bug met 6 gooien)
  Ludo/src/assets/main.css
  Ludo/src/components/DiceRoll.vue
  Ludo/src/components/LudoBoard.vue
  Ludo/src/router/index.js
Due: deploy_fe

Created AuthenticationController
  ludo-server/src/main/java/app/APIConfig.java
  ludo-server/src/main/java/app/controllers/AuthenticationController.java
Due: deploy_be

JWToken en request filter toegevoegd
  Ludo/package-lock.json
  Ludo/package.json
  ludo-server/pom.xml
  ludo-server/src/main/java/app/security/JWTRequestFilter.java
  ludo-server/src/main/java/app/security/JWToken.java
Due: deploy_fe, deploy_be

JWtoken stuff
  ludo-server/src/main/java/app/APIConfig.java
  ludo-server/src/main/java/app/controllers/AuthenticationController.java
  ludo-server/src/main/java/app/exceptions/NotAcceptable.java
Due: deploy_be

Temporarily commented out JWTRequestFilter because it broke the backend
  ludo-server/src/main/java/app/controllers/AuthenticationController.java
  ludo-server/src/main/java/app/security/JWTRequestFilter.java
Due: deploy_be

Added find lobbies by user id query
  ludo-server/src/main/java/app/controllers/LobbiesController.java
  ludo-server/src/main/java/app/models/Lobby.java
  ludo-server/src/main/java/app/repositories/LobbiesRepository.java
Due: deploy_be

begin gemaakt voor gamerules en wincondition
  Ludo/src/App.vue
  Ludo/src/components/DiceRoll.vue
  Ludo/src/models/UserLobby.js
  Ludo/src/services/UserLobbyAdaptor.js
  ludo-server/src/main/java/app/controllers/UserLobbyController.java
  ludo-server/src/main/java/app/models/UserLobby.java
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
Due: deploy_fe, deploy_be

wincondition updated, board changes
  Ludo/src/App.vue
  Ludo/src/components/DiceRoll.vue
  Ludo/src/components/LudoBoard.vue
  ludo-server/src/main/java/app/models/UserLobby.java
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
Due: deploy_fe, deploy_be

begin gemaakt aan pawnpositions aanpassen voor pawns slaan
  Ludo/src/components/DiceRoll.vue
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

Ongoing matches now uses data from database
  Ludo/src/components/OngoingMatches.vue
  Ludo/src/services/LobbyAdaptor.js
Due: deploy_fe

Added userlobby controller & repository
  ludo-server/src/main/java/app/controllers/LobbiesController.java
  ludo-server/src/main/java/app/controllers/UserLobbyController.java
  ludo-server/src/main/java/app/models/UserLobby.java
  ludo-server/src/main/java/app/repositories/LobbiesRepository.java
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
Due: deploy_be

check voor andere pawns, zet die terug op nul als er een match is
  Ludo/src/components/DiceRoll.vue
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

Auto stash before merge of "main" and "origin/main"
  Ludo/src/components/LudoBoard.vue
  Ludo/src/router/index.js
Due: deploy_fe

More complete board and better movements
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

Small changes
  ludo-server/src/main/java/app/controllers/UserLobbyController.java
Due: deploy_be

Created endpoint where you can add a UserLobby
  ludo-server/src/main/java/app/controllers/LobbiesController.java
  ludo-server/src/main/java/app/models/Lobby.java
  ludo-server/src/main/java/app/models/User.java
  ludo-server/src/main/java/app/models/UserLobby.java
Due: deploy_be

added a slider to the lobby to switch between joined and joinable
  Ludo/src/components/OngoingMatches.vue
Due: deploy_fe

gamerules, navbar en resetpassword begin
  Ludo/src/components/GameRules.vue
  Ludo/src/components/NavBar.vue
  Ludo/src/components/OngoingMatches.vue
  Ludo/src/components/ResetPassword.vue
  Ludo/src/router/index.js
Due: deploy_fe

You can now create lobby's from front end
  Ludo/src/components/CreateGame.vue
  Ludo/src/models/UserLobby.js
  Ludo/src/services/LobbyAdaptor.js
  ludo-server/src/main/java/app/controllers/UserLobbyController.java
Due: deploy_fe, deploy_be

Small changes
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
Due: deploy_be

Able to switch between joined lobbies and lobbies that are still joinable **Only one small bug to fix**
  Ludo/src/components/OngoingMatches.vue
  Ludo/src/services/LobbyAdaptor.js
  ludo-server/src/main/java/app/controllers/LobbiesController.java
  ludo-server/src/main/java/app/models/Lobby.java
  ludo-server/src/main/java/app/repositories/LobbiesRepository.java
  ludo-server/src/main/java/app/services/LobbyService.java
Due: deploy_fe, deploy_be

Fixed the bug with not loading joined matches on reload
  Ludo/src/components/OngoingMatches.vue
Due: deploy_fe

Fix
  ludo-server/src/main/java/app/controllers/LobbiesController.java
Due: deploy_be

Changed colors and board
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

paar kleine aanpassingen in layout
  Ludo/src/components/GameRules.vue
  Ludo/src/components/ResetPassword.vue
  Ludo/src/services/UsersAdaptor.js
Due: deploy_fe

Added board state column to lobby
  ludo-server/src/main/java/app/models/Lobby.java
  ludo-server/src/main/resources/data.sql
Due: deploy_be

Waitingroom aangemaakt, moet alleen nog users ophalen bij bijbehorende lobby (ook voor host check)
  Ludo/src/components/WaitingRoom.vue
  Ludo/src/router/index.js
Due: deploy_fe

waitingroom laat nu spelers zien, moet alleen nog een hostcheck in (en natuurlijk het starten van de game na klikken van 'start match' button
  Ludo/src/components/WaitingRoom.vue
  Ludo/src/services/LobbyAdaptor.js
  ludo-server/src/main/java/app/controllers/LobbiesController.java
  ludo-server/src/main/java/app/models/UserLobby.java
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
Due: deploy_fe, deploy_be

lobby leaven werkt nu met backend
  Ludo/src/components/WaitingRoom.vue
  Ludo/src/models/UserLobby.js
  Ludo/src/services/LobbyAdaptor.js
  Ludo/src/services/UserLobbyAdaptor.js
  ludo-server/src/main/java/app/controllers/LobbiesController.java
  ludo-server/src/main/java/app/models/UserLobby.java
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
Due: deploy_fe, deploy_be

Small change in the lobby system
  Ludo/src/components/OngoingMatches.vue
Due: deploy_fe

begin gemaakt voor gamerules en wincondition
  Ludo/src/App.vue
  Ludo/src/components/DiceRoll.vue
  Ludo/src/models/UserLobby.js
  Ludo/src/services/UserLobbyAdaptor.js
  ludo-server/src/main/java/app/controllers/UserLobbyController.java
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
Due: deploy_fe, deploy_be

check voor andere pawns, zet die terug op nul als er een match is
  Ludo/src/components/DiceRoll.vue
Due: deploy_fe

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Path conditions:
  deploy_fe: any of: Ludo/**/*
  deploy_be: any of: ludo-server/**/*
