Repository jesseslijkerman/Project-EWA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe, deploy_be

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=${RAILWAY_TOKEN_FE}
  - cd Ludo
  - railway up --service=EWA-fe-Ludo-app -d

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=${RAILWAY_TOKEN_BE}
  - cd ludo-server
  - railway up --service=EWA-be-Ludo-app -d

wincondition changed
  Ludo/src/components/LudoBoard.vue
  Ludo/src/services/LobbyAdaptor.js
  ludo-server/src/main/java/app/controllers/LobbiesController.java
  ludo-server/src/main/java/app/models/Lobby.java
Due: deploy_fe, deploy_be

styling fix
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

Added self referencing 'friend' relationship
  ludo-server/src/main/java/app/models/User.java
Due: deploy_be

Created addFriend mapping
  ludo-server/src/main/java/app/controllers/UserController.java
  ludo-server/src/main/java/app/repositories/UsersRepository.java
Due: deploy_be

Added remove friend and find friends by user id to REST
  ludo-server/src/main/java/app/controllers/UserController.java
  ludo-server/src/main/java/app/models/User.java
  ludo-server/src/main/java/app/repositories/UsersRepository.java
Due: deploy_be

Find by email or name query update
  ludo-server/src/main/java/app/controllers/UserController.java
  ludo-server/src/main/java/app/models/User.java
  ludo-server/src/main/java/app/repositories/UsersRepository.java
Due: deploy_be

added home fields in DB, you can now have multiple pawns on the field and choose which one to move, need to fix home updating and pawn takeovers
  Ludo/app-config.js
  Ludo/src/App.vue
  Ludo/src/components/CreateGame.vue
  Ludo/src/components/LudoBoard.vue
  Ludo/src/components/OngoingMatches.vue
  Ludo/src/models/UserLobby.js
  Ludo/src/services/UserLobbyAdaptor.js
  ludo-server/src/main/java/app/controllers/UserLobbyController.java
  ludo-server/src/main/java/app/models/UserLobby.java
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
Due: deploy_fe, deploy_be

updated pawn stuff only a small thing needs fixing, also pawn takeovers still need to be accounted for
  Ludo/src/components/LudoBoard.vue
  Ludo/src/services/UserLobbyAdaptor.js
  ludo-server/src/main/java/app/models/UserLobby.java
  ludo-server/src/main/java/app/repositories/UserLobbyRepository.java
Due: deploy_fe, deploy_be

fixed red startpos, fixed setHome for 4th pawn, added additional getClass cases with corresponding CSS styling
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

taken pawns are now returned to home and updated correctly in DB
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

pawn takeover works, adding another pawn will now immediately add to board
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

updated some styling and updated default createGame
  Ludo/src/components/CreateGame.vue
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

Backend working for getting the userdata by inserting an email
  Ludo/src/assets/main.css
  Ludo/src/components/ForgotPassword.vue
  Ludo/src/components/Login.vue
  Ludo/src/components/ResetPassword.vue
  Ludo/src/router/index.js
  Ludo/src/services/UsersAdaptor.js
  ludo-server/src/main/java/app/controllers/UserController.java
  ludo-server/src/main/java/app/models/User.java
Due: deploy_fe, deploy_be

Added friend methods to UsersAdaptor
  Ludo/src/services/UsersAdaptor.js
Due: deploy_fe

Changed backend from railway to localhost for testing
  Ludo/app-config.js
Due: deploy_fe

Working on friends list
  Ludo/src/assets/blank-profile-picture.webp
  Ludo/src/components/Friend.vue
  Ludo/src/components/FriendsList.vue
  Ludo/src/components/NavBar.vue
  Ludo/src/components/OngoingMatches.vue
Due: deploy_fe

Backend working to send an email with the token link.
  Ludo/src/components/ForgotPassword.vue
  Ludo/src/services/UsersAdaptor.js
  ludo-server/pom.xml
  ludo-server/src/main/java/app/controllers/UserController.java
  ludo-server/src/main/java/app/models/User.java
  ludo-server/src/main/java/app/repositories/UsersRepository.java
  ludo-server/src/main/java/app/services/EmailService.java
  ludo-server/src/main/java/app/services/MailConfig.java
  ludo-server/src/main/java/app/services/UserService.java
  ludo-server/src/main/resources/application.properties
Due: deploy_fe, deploy_be

> added wincondition > reverted mounted() changes
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

frontend resetpassword
  Ludo/src/components/ResetPasswordWithToken.vue
  Ludo/src/router/index.js
  Ludo/src/services/UsersAdaptor.js
  ludo-server/src/main/java/app/services/EmailService.java
Due: deploy_fe, deploy_be

> taken over pawns now return to their home cells > couple of variable names altered > fixed red's starting point
  Ludo/src/components/LudoBoard.vue
Due: deploy_fe

some styling changes
  Ludo/src/components/CreateGame.vue
  Ludo/src/components/GameRules.vue
  Ludo/src/components/LudoBoard.vue
  Ludo/src/components/OngoingMatches.vue
  Ludo/src/components/ResetPassword.vue
Due: deploy_fe

Added find friend functionality
  Ludo/src/components/Friend.vue
  Ludo/src/components/FriendsList.vue
  Ludo/src/components/NavBar.vue
  Ludo/src/router/index.js
  Ludo/src/services/UsersAdaptor.js
Due: deploy_fe

You can now add friends
  Ludo/src/components/Friend.vue
Due: deploy_fe

Fixes
  Ludo/src/components/FindPlayers.vue
  Ludo/src/components/Friend.vue
  Ludo/src/components/FriendsList.vue
  Ludo/src/components/OngoingMatches.vue
  Ludo/src/router/index.js
Due: deploy_fe

Forgot password flow working with a one time working link
  Ludo/src/components/ResetPasswordWithToken.vue
  Ludo/src/router/index.js
  ludo-server/src/main/java/app/controllers/UserController.java
  ludo-server/src/main/java/app/models/User.java
  ludo-server/src/main/java/app/repositories/UsersRepository.java
  ludo-server/src/main/java/app/services/EmailService.java
  ludo-server/src/main/java/app/services/UserService.java
Due: deploy_fe, deploy_be

railway test
  Ludo/src/router/index.js
Due: deploy_fe

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Added mapping for game invite
  Ludo/src/components/Friend.vue
  Ludo/src/components/WaitingRoom.vue
  Ludo/src/router/index.js
  ludo-server/src/main/java/app/controllers/UserController.java
  ludo-server/src/main/java/app/models/User.java
  ludo-server/src/main/java/app/repositories/UsersRepository.java
  ludo-server/src/main/java/app/services/EmailService.java
Due: deploy_fe, deploy_be

You can now invite players
  Ludo/src/components/Friend.vue
  Ludo/src/services/UsersAdaptor.js
Due: deploy_fe

Remove friend feature
  Ludo/src/components/Friend.vue
Due: deploy_fe

Backend link
  Ludo/.env.production
  Ludo/app-config.js
  Ludo/src/App.vue
Due: deploy_fe

CORS fix
  ludo-server/src/main/java/app/APIConfig.java
Due: deploy_be

Path conditions:
  deploy_fe: any of: Ludo/**/*
  deploy_be: any of: ludo-server/**/*
